
/* footer */
footer {
    width: 100%;
    padding: 5rem  0;
    display: grid;
    place-items: center;
    font-family: "Inter", sans-serif;
}
.footer > hr {
    height: .1px;
    width: 70%;
    margin-top: 5rem;
    margin-bottom: 2.5em;
    color: var(--color-secondary);
    background: var(--color-secondary);
}
.footer-cont {
    margin: auto;
    width: 70%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 5rem;
}
.footer-col {
    flex: 12%;
    width: 12%;
}
.footer-col > h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 20px;
}
.footer-col > p {
    font-size: 14px;
    font-weight: 500;
}
.footer-col > ul {
    list-style: none;
}
.footer-col > ul li {
    margin-top: 5px;
}
.footer-col > ul li a {
    text-decoration: none;
    color: #555;
    /* color: var(--color-text); */
    /* font-family: Raleway; */
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}
.footer-col:nth-last-child(1) > ul {
    display: flex;
    gap: var(--gap, 1em);
}
.footer-col > .logo {
    margin-bottom: 10px;
}

/* .logo > p {
    font-size: 10px;
    text-align: start;
    text-wrap: nowrap;
    line-height: normal;
    font-family: Raleway;
    color: var(--color-text);
    text-transform: capitalize;
    font-weight: 800;
} */
.copyright {
    padding: 1em;
}
.copyright > p {
    font-weight: 600;
    color: var(--color-text);
    font-size: 12px;
    text-align: center;
}
.copyright > strong {
    font-size: 12px;
    font-weight: 800;
}
.copyright > p:nth-last-child(1) {
    margin-top: 1em;
}


@media (max-width: 760px) {
    footer {
        padding: 3rem 1rem;
    }
    .footer-cont {
        width: 100%;
        flex-wrap: wrap;
        /* flex-direction: column; */
        gap: var(--gap, 2em);
    }
    .footer-col {
        flex: 30%;
        width: 30%;
    }
    .footer-col > h2 {
        font-size: 15px;
    }
    .footer > hr {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}